<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

 
    <!-- info and lower goes to stdout -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="WARN"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <!-- warn and higher goes to stderr -->
    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %m%n"/>
        </layout>
    </appender>

    <!-- change priority to change logging verbosity -->
    <root>
      <priority value="info" />
      <appender-ref ref="stdout" />
      <appender-ref ref="stderr" />
    </root>

</log4j:configuration>
